<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cocosci Psychology Experiment</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>

  <body>
    <div style="margin: 1em;">
      <h1>Completion Code Instructions (2/2)</h1>
      <p>
        The second part of the secret code is: <b>C6DMOQA6</b>
        <br><br>
        The above code has only 8 characters. The full completion code is a combination of the letter you received in the previous window and this code. It should look like this: <b>_C6DMOQA6</b>, where the blank is the letter code that you received on the previous page.
        <br><br>
        Please go back to Prolific and enter the <b>full code (9 characters)</b> to complete your submission.
        <br><br>
        After you have noted down your full code, you may close this window.
      </p>
    </div>
  </body>
</html>
