<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cocosci Psychology Experiment</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>

  <body>
    <div style="margin: 1em;">
      <h1>Completion Code Instructions (2/2)</h1>
      <p>
        The first part of the secret code is: <b>C1</b>
        <br><br>
        The above code has only 2 characters. The full completion code is a combination of the 6-character code you received in the previous window and this code. It should look like this: <b>C1______</b>, where the blanks are filled in with the 6-character code that you received on the previous page.
        <br><br>
        Please go back to Prolific and enter the <b>full code (8 characters)</b> to complete your submission. In case you are asked to return your submission, please do so. Your submission will still be considered for payment.
        <br><br>
        After you have noted down your full code, you may close this window.
      </p>
    </div>
  </body>
</html>
